@charset "utf-8";
/* CSS Document */
.t_cabecera {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	background-color: #06F;
	text-align: center;
}
.t_titulo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.t_botones {
	width:25px;
	text-align:center;
}
#pop {
	z-index:100;
	position:absolute;
	border: 1px solid #333;
	text-align:center;
	background:#000;
}
#cerrar {
	float:right;
	margin-right:5px;
	cursor:pointer;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	background-color:#666;
	width:12px;
	position:relative;
	margin-top:-1px;
	text-align:center;
}

.tablaImprimir
{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	border:0px solid #000;
}

 

.encabezado {
    padding: 7px;
    background: none repeat scroll 0 0 #eeeeee;
    font-weight: bold;
	margin: auto;
	padding: auto;
	font-family: Arial;
	font-size: 12px;
	color: #363636;
	text-shadow:0 1px 0 #ffffff;
	background: #f7f7f7 url("../../images/bg_left.jpg") repeat-y;
    border-bottom: 1px solid #cccccc;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}