		li .Solicitados {
		border: none;
		background-color: transparent;
		height:22px;
		font-weight:bold;
		font-size:12px;
		} 		
			
		li .Numeros {
			 padding: 8px;
			 font-size: 12px;
			 font-weight:bold;
			 border-width: 1px;
			 border-color: #FEFEFE;
			 background-color: #FFFFFF;
			 color: #C7A4A4;
			 border-style: solid;
			 border-radius: 10px;
			 box-shadow: 0px 0px 5px rgba(66,66,66,.75);
			 text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
		}
		.Numeros:focus {
			 outline:none;
		}

		
		.inline{
		  display: inline-block;
		}
		.inline + .inline{
		  margin-left:10px;
		}
		.radio{
		  color:#999;
		  font-size:13px;
		  position:relative;
		  margin-top:2px;
		}
		.radio span{
		  position:relative;
		   padding-left:20px;
		}
		.radio span:after{
		  content:'';
		  width:15px;
		  height:15px;
		  border:3px solid;
		  position:absolute;
		  left:0;
		  top:1px;
		  border-radius:100%;
		  -ms-border-radius:100%;
		  -moz-border-radius:100%;
		  -webkit-border-radius:100%;
		  box-sizing:border-box;
		  -ms-box-sizing:border-box;
		  -moz-box-sizing:border-box;
		  -webkit-box-sizing:border-box;
		}
		.radio input[type="radio"]{
		   cursor: pointer; 
		  position:absolute;
		  width:100%;
		  height:100%;
		  z-index: 1;
		  opacity: 0;
		  filter: alpha(opacity=0);
		  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
		}
		.radio input[type="radio"]:checked + span{
		  color:#0B8;  
		}
		.radio input[type="radio"]:checked + span:before{
			content:'';
		  width:5px;
		  height:5px;
		  position:absolute;
		  background:#0B8;
		  left:5px;
		  top:6px;
		  border-radius:100%;
		  -ms-border-radius:100%;
		  -moz-border-radius:100%;
		  -webkit-border-radius:100%;
		}		
		#contenido,#contenido_modificar,#contenido_agregar{
				margin:6px 6px 0px 6px;
		}
		 #tabla_resultados_kk table input[type="text"]:disabled {
				background: #dddddd;
		}

		#tabla_resultados_kk table{
				width: 100%;
				border-collapse: collapse;
				text-align: center;
				margin: 0px;
				padding: 0px;
				font-family: Helvetica;
				font-size:13px;
		}
			
		#tabla_resultados_kk table tr{
				margin: 0px;
				padding: 0px;
		}    
		#tabla_resultados_kk table th {
				border:1px dotted #d3d3d3;
				background-color:#eee;
				padding: 3px;
				font-size:11px;
		}

		#tabla_resultados_kk table td {
				border-left:1px dotted #d3d3d3;
				margin: 0px;
				padding: 0px;
		}

		#tabla_resultados_kk  input[type="text"] {
				width: 100% !important;
				outline: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				appearance: none;
				border:none;
				border:1px solid #d3d3d3;
				padding: 2px;
		}
		.letras_pequeñas{
				font-size:9px;
				font-weight:bold;
				color:red;
			}
			
			.letras_pequeñas_2{
				font-size:8px;
				font-weight:bold;
				color:red;
				
			}
			.error{
				background-color: #BC1010;
				border-radius: 4px 4px 4px 4px;
				color: white;
				font-weight: bold;
				margin-left: 16px;
				margin-top: 6px;
				padding: 6px 12px;
				position: absolute;
			}

			.error:before{
				border-color: transparent #BC1010 transparent transparent;
				border-style: solid;
				border-width: 6px 8px;
				content: "";
				display: block;
				height: 0;
				left: -16px;
				position: absolute;
				top: 8px;
				width: 0;
			}
			.result_fail{
				background: none repeat scroll 0 0 #BC1010;
				border-radius: 20px 20px 20px 20px;
				color: white;
				font-weight: bold;
				padding: 10px 20px;
				text-align: center;
			}
			.result_ok{
				background: none repeat scroll 0 0 #1EA700;
				border-radius: 20px 20px 20px 20px;
				color: white;
				font-weight: bold;
				padding: 10px 20px;
				text-align: center;
			}
			fieldset, legend ,#contenido,#contenido_modificar,#contenido_agregar{
				border: 1px solid #ddd;
				background-color: #eee;
				-moz-border-radius-topleft: 5px;
				border-top-left-radius: 5px;
				-moz-border-radius-topright: 5px;
				border-top-right-radius: 5px;
				margin-top:2px;
			}
			legend {
				font-weight: normal;
				font-size: 1 em;
				text-shadow: #fff 1px 1px 1px; 
				font-weight: bold;
				color :#777;
			}
			fieldset ,#contenido,#contenido_modificar,#contenido_agregar{
				background-color: #f7f7f7;
				-moz-border-radius-bottomleft: 5px;
				border-bottom-left-radius: 5px;
				-moz-border-radius-bottomright: 5px;
				border-bottom-right-radius: 5px; 
			}	

			#spTotal{
				font-size:36px;
			    color: green;
				margin:10px;
				margin-top:50px;
				font-weight:bold;
			}
			#contenido_total{
				border-radius: 18px;
				background: #E0F8EC;
				padding: 21px; 
			}
			p a:link,p  a:visited,p  a:hover ,p  a:active {
				text-decoration: none;
			}
			p .l-btn-text{
				font-size: 14px;
				font-weight:bold;
			}
