* {
	margin: 0;
	padding: 0;
}


.input_container ul {
	width: 500px;
	border: 1px solid #eaeaea;
	position: absolute;
	z-index: 9;
	background: #FFFFCC;
	list-style: none;
}
.input_container ul li {
	padding: 2px;
}
.input_container ul li:hover {
	background: #FF0000;
}
#Operacion_list_id {
	display: none;
}

#Diagnostico_list_id {
	display: none;
}


