	
.as_gridder_table {
	border-collapse:collapse;
	border:#c9e7e9 solid 1px;
}
.as_gridder_table tr.grid_header {
	font-weight:bold;
	background:#c9e7e9;
}
.as_gridder_table tr.odd {
	background-color:#fffeff;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.as_gridder_table tr.even {
	background-color:#dafaf9;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.as_gridder_table tr.odd:hover, .as_gridder_table tr.even:hover, .as_gridder_table tr.odd.active, .as_gridder_table tr.odd.active {
	background:#75E4F9;
}
.as_gridder_table tr td {
	vertical-align:middle;
	height:40px;
}
.grid_heading {
	display:block;
	padding:8px 4px;
}
.grid_content {
	display:block;
	padding:8px 4px;
	min-height:22px;
}
.grid_content.sno {
	width:auto;
}
.grid_content span {
	padding:3px 0px;
	position:relative;
	top:5px;
}
. .editable {
	width:110px;
}
.gridder_input, .gridder_add {
	display:none;
	margin:0;
	padding:0;
	outline:none;
	border:none;
	padding:2px;
	border:#24E2F2 solid 1px;
	width:100px;
	height:18px;
}


.Observaciones, .gridder_add {
	display:none;
	margin:0;
	padding:0;
	outline:none;
	border:none;
	padding:2px;
	border:#24E2F2 solid 1px;
	width:280px;
	height:35px;
}



.digito_inicial,.digito_final, .gridder_add {
	display:none;
	margin:0;
	padding:0;
	outline:none;
	border:none;
	padding:2px;
	border:#24E2F2 solid 1px;
	width:100px;
	height:18px;
}

.digito_inicial,.digito_inicial.select, .digito_inicial.select {
	height:auto;
}
.digito_inicial,.digito_inicial:hover, .digito_inicial:active, .digito_inicial:hover, .digito_inicial:active {
	outline:none;
}

.digito_final,.digito_final.select, .digito_final.select {
	height:auto;
}
.digito_final,.digito_final:hover, .digito_final:active, .digito_final:hover, .digito_final:active {
	outline:none;
}

#addnew {
	display:none;
}
.gridder_addrecord_button {
	 mmargin:0;
	padding:0;
	outline:none;
	border:none;
	background:url(../images/tick.png) no-repeat;
	cursor:pointer;
	display:inline-block;
	height:16px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
	width:16px;
}


#scroll {
	height: 400px;
	width: 965px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}



#scroll_examenes {
	height:250px;
	width : 700px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}


/************ Estilo de Title *************/

a {text-decoration:none;cursor:pointer;cursor:hand;font-weight:bold;}
a:hover {text-decoration:none;}
.clear {clear:both}


/* Estilo de Title */

#tooltip {
	position:absolute;
	z-index:9999;
	color:#fff;
	font-size:10px;
	width:180px;

}

#tooltip .tipHeader {
	height:8px;
	background:url(images/tipHeader.gif) no-repeat;
}


#tooltip .tipBody {
	background-color:#000;
	padding:5px      5px 5px 15px;
}

#tooltip .tipFooter {
	height:8px;
	background:url(images/tipFooter.gif) no-repeat;
}
                                                                                                        