
/*Credits: CSSpplay */
/*URL: http://www.cssplay.co.uk/menus/pro_15 */
.pro15 {padding:0 0 0 20px; margin:0; list-style:none; height:30px; background:#1841c8 url(../../MVC_Complemento/img/pro_15_0.gif);}
.pro15 li {float:left;}
.pro15 li a {display:block; float:left; height:30px; line-height:30px; background:url(../../MVC_Complemento/img/pro_15_0.gif); color:#ddd; text-decoration:none; font-family:arial, verdana, sans-serif; text-align:center; padding:0 0 0 10px; cursor:pointer; font-size:11px;}
.pro15 li a b {float:left; display:block; background:url(../../MVC_Complemento/img/pro_15_0.gif) right top; padding:0 16px 0 8px;}
.pro15 li.current a {color:#fff; background:url(../../MVC_Complemento/img/pro_15_2.gif);}
.pro15 li.current a b {background:url(../../MVC_Complemento/img/pro_15_2.gif) no-repeat right top;}
.pro15 li a:hover {color:#fff; background: url(../../MVC_Complemento/img/pro_15_1.gif);}
.pro15 li a:hover b {background:url(../../MVC_Complemento/img/pro_15_1.gif) no-repeat right top;}
.pro15 li.current a:hover {color:#fff; background: url(../../MVC_Complemento/img/pro_15_2.gif); cursor:default;}
.pro15 li.current a:hover b {background:url(../../MVC_Complemento/img/pro_15_2.gif) no-repeat right top;}
.pro15 li a em {display:block; float:left; width:16px; height:30px;}

.pro15 li a em.home {background:url(../../MVC_Complemento/img/home.gif) no-repeat center center;}
.pro15 li a em.nuevo {background:url(../../MVC_Complemento/img/icon_pages.png) no-repeat center center;}
.pro15 li a em.actualiza {background:url(../../MVC_Complemento/img/icon_posts.png) no-repeat center center;}
.pro15 li a em.guardar {background:url(../../MVC_Complemento/img/modiciar.jpg) no-repeat center center;}
.pro15 li a em.citar {background:url(../../MVC_Complemento/img/imprimir.png) no-repeat center center;}
.pro15 li a em.cobrar {background:url(../../MVC_Complemento/img/user_logout.png) no-repeat center center;}

/*..pro15 li a em.camera {background:url(../../MVC_Complemento/img/camera.gif) no-repeat center center;}
.pro15 li a em.find {background:url(../../MVC_Complemento/img/find.gif) no-repeat center center;}
.pro15 li a em.contact {background:url(../../MVC_Complemento/img/contact.gif) no-repeat center center;}
.pro15 li a em.search {background:url(../../MVC_Complemento/img/search.gif) no-repeat center center;}
*/
 .print_txt {
	font-family: "Courier New", Courier, monospace;
}