
            .panel.with-nav-tabs .panel-heading{
                padding: 5px 5px 0 5px;
            }
            .panel.with-nav-tabs .nav-tabs{
                border-bottom: none;
            }
            .panel.with-nav-tabs .nav-justified{
                margin-bottom: -1px;
            }
            /********************************************************************/
            /*** PANEL DEFAULT ***/
            .with-nav-tabs.panel-default .nav-tabs > li > a,
            .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
                color: #777;
            }
            .with-nav-tabs.panel-default .nav-tabs > .open > a,
            .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
            .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
                color: #777;
                background-color: #ddd;
                border-color: transparent;
            }
            .with-nav-tabs.panel-default .nav-tabs > li.active > a,
            .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
                color: #555;
                background-color: #fff;
                border-color: #ddd;
                border-bottom-color: transparent;
            }
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
                background-color: #f5f5f5;
                border-color: #ddd;
            }
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
                color: #777;   
            }
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #ddd;
            }
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
                color: #fff;
                background-color: #555;
            }
            /********************************************************************/
            /*** PANEL PRIMARY ***/
            .with-nav-tabs.panel-primary .nav-tabs > li > a,
            .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
                color: #fff;
            }
            .with-nav-tabs.panel-primary .nav-tabs > .open > a,
            .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
            .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
            .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
                color: #fff;
                background-color: #3071a9;
                border-color: transparent;
            }
            .with-nav-tabs.panel-primary .nav-tabs > li.active > a,
            .with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
            .with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
                color: #428bca;
                background-color: #fff;
                border-color: #428bca;
                border-bottom-color: transparent;
            }
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
                background-color: #428bca;
                border-color: #3071a9;
            }
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
                color: #fff;   
            }
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #3071a9;
            }
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
                background-color: #4a9fe9;
            }
            /********************************************************************/
            /*** PANEL SUCCESS ***/
            .with-nav-tabs.panel-success .nav-tabs > li > a,
            .with-nav-tabs.panel-success .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-success .nav-tabs > li > a:focus {
                color: #3c763d;
            }
            .with-nav-tabs.panel-success .nav-tabs > .open > a,
            .with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
            .with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
            .with-nav-tabs.panel-success .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-success .nav-tabs > li > a:focus {
                color: #3c763d;
                background-color: #d6e9c6;
                border-color: transparent;
            }
            .with-nav-tabs.panel-success .nav-tabs > li.active > a,
            .with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
            .with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
                color: #3c763d;
                background-color: #fff;
                border-color: #d6e9c6;
                border-bottom-color: transparent;
            }
            .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }
            .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
                color: #3c763d;   
            }
            .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #d6e9c6;
            }
            .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
            .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
            .with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
                color: #fff;
                background-color: #3c763d;
            }
            /********************************************************************/
            /*** PANEL INFO ***/
            .with-nav-tabs.panel-info .nav-tabs > li > a,
            .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
                color: #31708f;
            }
            .with-nav-tabs.panel-info .nav-tabs > .open > a,
            .with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
            .with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
            .with-nav-tabs.panel-info .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-info .nav-tabs > li > a:focus {
                color: #31708f;
                background-color: #bce8f1;
                border-color: transparent;
            }
            .with-nav-tabs.panel-info .nav-tabs > li.active > a,
            .with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
            .with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
                color: #31708f;
                background-color: #fff;
                border-color: #bce8f1;
                border-bottom-color: transparent;
            }
            .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
                background-color: #d9edf7;
                border-color: #bce8f1;
            }
            .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
                color: #31708f;   
            }
            .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #bce8f1;
            }
            .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
            .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
            .with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
                color: #fff;
                background-color: #31708f;
            }
            /********************************************************************/
            /*** PANEL WARNING ***/
            .with-nav-tabs.panel-warning .nav-tabs > li > a,
            .with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
                color: #8a6d3b;
            }
            .with-nav-tabs.panel-warning .nav-tabs > .open > a,
            .with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
            .with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
            .with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
                color: #8a6d3b;
                background-color: #faebcc;
                border-color: transparent;
            }
            .with-nav-tabs.panel-warning .nav-tabs > li.active > a,
            .with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
            .with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
                color: #8a6d3b;
                background-color: #fff;
                border-color: #faebcc;
                border-bottom-color: transparent;
            }
            .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
                background-color: #fcf8e3;
                border-color: #faebcc;
            }
            .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
                color: #8a6d3b; 
            }
            .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #faebcc;
            }
            .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
            .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
            .with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
                color: #fff;
                background-color: #8a6d3b;
            }
            /********************************************************************/
            /*** PANEL DANGER ***/
            .with-nav-tabs.panel-danger .nav-tabs > li > a,
            .with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
                color: #a94442;
            }
            .with-nav-tabs.panel-danger .nav-tabs > .open > a,
            .with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
            .with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
            .with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
            .with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
                color: #a94442;
                background-color: #ebccd1;
                border-color: transparent;
            }
            .with-nav-tabs.panel-danger .nav-tabs > li.active > a,
            .with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
            .with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
                color: #a94442;
                background-color: #fff;
                border-color: #ebccd1;
                border-bottom-color: transparent;
            }
            .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
                background-color: #f2dede; /* bg color */
                border-color: #ebccd1; /* border color */
            }
            .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
                color: #a94442; /* normal text color */  
            }
            .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #ebccd1; /* hover bg color */
            }
            .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
            .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
            .with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
                color: #fff; /* active text color */
                background-color: #a94442; /* active bg color */
            }
			
			/******************************************************chec***********************************************************************************************/
			
			
            .funkyradio div {
                clear: both;
                overflow: hidden;
            }

            .funkyradio label {
                width: 100%;
                border-radius: 3px;
                border: 1px solid #D1D3D4;
                font-weight: normal;
            }

            .funkyradio input[type="radio"]:empty,
            .funkyradio input[type="checkbox"]:empty {
                display: none;
            }

            .funkyradio input[type="radio"]:empty ~ label,
            .funkyradio input[type="checkbox"]:empty ~ label {
                position: relative;
                line-height: 3.0em;
                text-indent: 1em;
                margin-top: 0.1em;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .funkyradio input[type="radio"]:empty ~ label:before,
            .funkyradio input[type="checkbox"]:empty ~ label:before {
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                content: '';
                width: 2.5em;
                background: #D1D3D4;
                border-radius: 3px 0 0 3px;
            }

            .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
            .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
                color: #888;
            }

            .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
            .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
                content: '\2714';
                text-indent: .9em;
                color: #C2C2C2;
            }

            .funkyradio input[type="radio"]:checked ~ label,
            .funkyradio input[type="checkbox"]:checked ~ label {
                color: #777;
            }

            .funkyradio input[type="radio"]:checked ~ label:before,
            .funkyradio input[type="checkbox"]:checked ~ label:before {
                content: '\2714';
                text-indent: .9em;
                color: #333;
                background-color: #ccc;
            }

            .funkyradio input[type="radio"]:focus ~ label:before,
            .funkyradio input[type="checkbox"]:focus ~ label:before {
                box-shadow: 0 0 0 3px #999;
            }

            .funkyradio-default input[type="radio"]:checked ~ label:before,
            .funkyradio-default input[type="checkbox"]:checked ~ label:before {
                color: #333;
                background-color: #ccc;
            }

            .funkyradio-primary input[type="radio"]:checked ~ label:before,
            .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
                color: #fff;
                background-color: #337ab7;
            }

            .funkyradio-success input[type="radio"]:checked ~ label:before,
            .funkyradio-success input[type="checkbox"]:checked ~ label:before {
                color: #fff;
                background-color: #5cb85c;
            }

            .funkyradio-danger input[type="radio"]:checked ~ label:before,
            .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
                color: #fff;
                background-color: #d9534f;
            }

            .funkyradio-warning input[type="radio"]:checked ~ label:before,
            .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
                color: #fff;
                background-color: #f0ad4e;
            }

            .funkyradio-info input[type="radio"]:checked ~ label:before,
            .funkyradio-info input[type="checkbox"]:checked ~ label:before {
                color: #fff;
                background-color: #5bc0de;
            }